#list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list-area {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}

.list-row {
  display: flex;
  flex-direction: row;
}

#list-btn-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.saved-recon-btn {
  background-color: #fff;
  color: #555;
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 70%;
  margin: 2px;
}

.delete-btn {
  background-color: #fff;
  color: #555;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin: 2px;
}

.saved-recon-btn:hover, .delete-btn:hover {
  background-color: #ddd;
  color: #111;
}

.list-switcher {
  background-color: #111;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 20px;
  width: 200px;
  height: 30px;
  border: 1px solid #444;
}

.list-switcher:hover {
  background-color: #555;
}