#uploader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upload-btn-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* .file-input-container {
} */

.text-input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.text-input {
  margin-right: 0;
  margin-left: 10px;
}

.file-input {
  display: none;
}

.uploader-btn, #submit-btn {
  background-color: #4170f0;
  color: #fff;
  border-radius: 5px;
  width: 50%;
  margin-bottom: 20px;
  width: 200px;
  height: 30px;
  border: 1px solid #eee;
}

.upload-switcher {
  background-color: #111;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 20px;
  width: 200px;
  height: 30px;
  border: 1px solid #444;
}

.uploader-btn:hover, #submit-btn:hover {
  background-color: #555;
}